<!DOCTYPE HTML>
<html>
<head>
    <title>Ease My Cart</title>
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/header.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    </head>
    

<body>
    
    <nav class="navbar is-light">
  <!-- navbar brand, navbar menu... -->

    
    
                <!--for navigation buttons -->
            
   <div class="navbar-brand">

      
                                    <!--  For Logo -->
        <a class="navbar-item" href="../">
  <img src="https://versions.bulma.io/0.7.0/images/bulma-logo.png" width="112" height="28" alt="Bulma"></a>
      
    
       <input class="input is-rounded" type="text" placeholder="Search Products">
       <a class="navbar-item" "navbar-end" href="../login">  Login </a>
      <a class="navbar-item" "navbar-end" href="../cart"> Cart </a>
      <a class="navbar-item" "navbar-end" href="../about">  About </a>
            
  </div>
</nav>
    
                            <!-- For categories navbar  -->
<nav class="navbar is-warning">

   <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
<a class="navbar-item" href="../"> ee </a>
    <a class="navbar-item" href="../"> fash </a>
    <a class="navbar-item" href="../"> sp </a>
    <a class="navbar-item" href="../"> m </a>  
</div>
</nav>
    
    
    
    </body>
    
</html>