<!DOCTYPE HTML>
<html>
<head>
    <title>Ease My Cart</title>
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/header.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    </head>
    

<body>
    
    <nav class="navbar is-light">
  <!-- navbar brand, navbar menu... -->

    
    
                <!--for navigation buttons -->
            
   <div class="navbar-brand">

      
                                    <!--  For Logo -->
        <a class="navbar-item logo" href="../">
  <img src="/public/images/logo.png" width="112" height="28" alt="Company">
       </a>
       
                <!--  Search bar -->
              <input class="input is-rounded search-input" type="text" placeholder="Search Products">
       <div class="navigbar">
       <a class="navbar-item" href="../login">  Login </a>
      <a class="navbar-item" href="../cart"> Cart </a>
      <a class="navbar-item" href="../about">  About </a>
    </div>
       </div>
</nav>
    
                            <!-- For categories navbar  -->
<nav class="navbar is-warning">

   <div class="navbar-brand categories">
    <!-- navbar items, navbar burger... -->
<a class="navbar-item category" href="../"> ee </a>
    <a class="navbar-item category" href="../"> fash </a>
    <a class="navbar-item category" href="../"> sp </a>
    <a class="navbar-item category" href="../"> m </a>  
</div>
</nav>
    
    
    

