<!DOCTYPE HTML>
<html>
<head>
    <title>Ease My Cart</title>
    <!--linking project logo-->
    <link rel=icon type=image/jpg href="/public/images/project-logo.jpg">
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/header.css">
            
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                        
                                    <!-- font awesone cdn for icons  -->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    

<body>
    
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                                            <!-- LOGO -->
    <nav>
<div class="topnav" id="myTopnav">
    <div class="container">
    <a href="../" id="logo"><img src="/public/images/project-logo.jpg" height="35" width="50"></a>
  <a href="../"><span id="project"> Ease My Cart </span> </a>
    
                            <!-- search bar -->
<input type="text" placeholder="Search Products or Brands"> </div>
                            <!-- div to show contents on right -->
    
    <div id="rt">
                                        <!-- Login / Signup -->
        
  <a href="/views/login"> <i class="fas fa-user-plus"></i> Login</a>
        
                                        <!-- Cart -->
        
  <a href="/cart"> <i class="fas fa-shopping-cart"></i> Cart </a>
        
                                        <!-- About -->
        
  <a href="#about"> About </a>
</div>
    
</div>
    
    </nav>
