<link rel=stylesheet type="text/css" href="/public/stylesheets/footer.css">

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> <!-- button to scroll to top --> 

<!-- js link -->

<script src="/public/javascripts/footer.js"></script>

</body>
</html>