<!DOCTYPE HTML>
<html>
<head>
    <title>Ease My Cart</title>
    <!--linking project logo-->
    <link rel=icon type=image/jpg href="/public/images/project-logo.jpg">
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/header.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

                                    <!-- font awesone cdn for icons  -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>


<body>

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="nav d-flex  flex-lg-row navbar-expand-lg topnav justify-content-center">



    <a id="project" class="justify-content-start" href="../" ><span  > Ease My Cart </span> </a>

                            <!-- Search Bar -->

                            <div class="form-inline1 my-2 my-lg-0 navbar-container">

        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>


    <button class="navbar-toggler topnav-centered" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon "><i class="fas fa-sliders-h"></i></span>  </button>
       <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                    <a class=" topnav-links" href="/log"><i class="fas fa-user-plus"></i> Login </a>
                    <a class=" topnav-links" href="#"><i class="fas fa-shopping-cart"></i> Cart </a>
                    <a class=" topnav-links" href="#"><i class="fas fa-info-circle"></i> About </a>
           </div>
       </div>
</nav>
