*{
    box-sizing: border-box;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: 	#4682B4;
  overflow: hidden;
    max-height: 3.313rem;
    margin-top: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #40E0D0;
  text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1.125rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:#40E0D0;
  color:	#4682B4;
    text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* Set the login , cart and about links to the extreme right of nav bar */
#rt{
    display: flex;
    position: absolute;
    right: 1.25rem;
}

                    /* Search bar */
.topnav input[type=text] {
  float: left;
  padding: 0.375rem;
    background-color: #40E0D0;
  border-color: #008080;
    border-radius: 2rem;
  margin-top: 0.5rem;
 
    margin-left: 1.563rem;
    
  font-size: 1.063rem;
}

            /* focus when selected */
.topnav input[type=text]:focus{
        outline: none;
    border: 0.1875rem solid #A9A9A9;
    background-color: #f0ffff;
    color: #000000;
}

/* logo */
#logo{
    
    margin-bottom: auto;
    margin-top: 0px;;
    
}

/* style the project name */
#project{
    margin-right: 7.5rem;
    font-family:inherit;
    text-shadow: 0.25rem 0.25rem 0.25rem 0.25rem #aaa;
    font-size: 1.25rem;
    
}