*{
    box-sizing: border-box;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: 	#4682B4;
  overflow: hidden;
    max-height: 53px;
    margin-top: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #40E0D0;
  text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:#40E0D0;
  color:	#4682B4;
    text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* Set the login , cart and about links to the extreme right of nav bar */
#rt{
    display: flex;
    position: absolute;
    right: 20px;
}

                    /* Search bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
    background-color: #40E0D0;
  border-color: #008080;
    border-radius: 2rem;
  margin-top: 8px;
 
    margin-left: 25px;
    
  font-size: 17px;
}

            /* focus when selected */
.topnav input[type=text]:focus{
        outline: none;
    border: 3px solid #A9A9A9;
    background-color: #f0ffff;
    color: #000000;
}

/* logo */
#logo{
    margin-left: 200px;
    margin-bottom: auto;
    margin-top: 0px;;
    
}

/* style the project name */
#project{
    margin-right: 100px;
    font-family:inherit;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 20px;
    
}