h1  {
    background: aquamarine;
}

*{
     font-family: 'Lato', sans-serif;
     box-sizing: border-box;
}
.d-block{
     height: 25rem;
     
}
body{
     background: #f1f3f6;  /* fallback for old browsers */
}
.bg-light{
        background-color: #ffff!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: bold;
    padding: 0.1rem 1rem;
    line-height: 1rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #4AD7D1;
}