h1  {
    background: aquamarine;
}

*{
     font-family: 'Lato', sans-serif;
     box-sizing: border-box;
}
.d-block{
     height: 25rem;
     
}
body{
     background: #f1f3f6;  /* fallback for old browsers */
}