@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
#Search {
    align-self: center;
}

.navbar {
    background-color: #001730 !important;
}

.navlinks {
    text-decoration: none;
    color: #4ad7d1;
    font-size: 20px;
}

.navlinks:hover {
    background-color: #001730 !important;
    color: lightblue !important;
}